@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        tab-size: 4;
        font-family: Work Sans, system-ui, sans-serif;
        scroll-behavior: smooth;
    }
}

.fade-in {
    animation: fade-in ease 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 1169px) {

    .vertical-timeline-element-content .vertical-timeline-element-date {
        text-align:right;
        width: 100%;
        margin-bottom: -12px
    }
}
